<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="token" id="token" value="{{csrf_token()}}">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/khfif.css" rel="stylesheet" />
</head>
<body>
   
    <div >
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/vendor.js"></script>
    <script src="~/Scripts/messengerScript.js"></script>
    <script src="~/Scripts/adminScript.js"></script>
    <script src="~/Scripts/categorieScript.js"></script>
    <script src="~/Scripts/clientScript.js"></script>
    <script src="~/Scripts/produitScript.js"></script>
    <script src="~/Scripts/souscategorieScript.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/commandeScript.js"></script>
    <script src="~/Scripts/adminpanelScript.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
